table td, th {
    padding: 2px 15px; /* Or a small value like 2px */
    vertical-align: top;
}

table th {
    background-color: #2e6da4;
    color: white;
}


ul {
    padding-inline-start: 20px;
}

