.topic-arrow {
    float:right;
    border-top: 2px solid #2e6da4;
    font-size:20px;
    font-weight: bold;
    font-weight:700;
    color: #2e6da4;
    background-color: #deedf4;
}

a {
    overflow-wrap: break-word;
}
/*42, ?, 26*/

/* Somehow the style isn't coming through on the main page */
h2 {
    font-size: 32px;
}

h3 {
    border-top: 2px solid #2e6da4;
    font-size: 26px;
    color: #2e6da4;
    break-after: avoid;
    page-break-after: avoid; /* Safari fallback */
}

h4 {
    color: #b81d3e;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
